:root {
  --color-yellow: #FACC15;
  --color-blue: #1992D4;
  --color-grey: #E2E8F0;
  --color-white: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-container {
  width: 20%;
  background-color: var(--color-blue);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 1rem;
}

.header-container {
  height: 25%;
  width: 100%;
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}


.contents-container {
  height: inherit;
  background-color: var(--color-grey);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(8, 1fr);
  gap: 1em;
  padding: 0 1em;
  max-height: 75vh;
}

img {
  height: 3rem;
}

.sidebar-container>.option>img {
  height: 3rem;
}

.option {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.option:hover {
  border: 5px solid var(--color-white);
}

.option>p {
  font-size: 1.25rem;
  margin: .75rem;
  font-weight: 600;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 3rem !important;
  padding: 1rem;
  grid-column: 1 / 2;
}

.search-bar>input {
  width: 80%;
  border-radius: 10px;
}

.profile-options {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-right: 3rem !important;
  padding: 1rem;
  grid-column: 2/ 3;
  grid-row: 1/ 2;
}
.icon {
  height: 1.5rem;
  fill: var(--color-white);
}

.user-icon {
  height: 3rem;
  border-radius: 100%;
}

.large-user-icon {
  height: 5rem;
  border-radius: 100%;
}

.welcome-container {
  grid-column: 1 / 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 3rem !important;
  padding-bottom: 1rem;
}

.controls-container {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  gap: 2rem;

}

.controls-container>button {
  width: 6rem;
  height: 2.5rem;
  border: none;
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 50px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.controls-container>button:hover {
  background-color: var(--color-yellow);
}

.project {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.announcement {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.trending {
  grid-row: 5 / 6;
  grid-column: 3 / 4;
}

.project-container-1 {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}

.project-container-2 {
  grid-row: 2 / 4;
  grid-column: 2 / 3;
}

.project-container-3 {
  grid-row: 4 / 6;
  grid-column: 1 / 2;
}

.project-container-4 {
  grid-row: 4 / 6;
  grid-column: 2 / 3;
}

.project-container-5 {
  grid-row: 6 / 8;
  grid-column: 1 / 2;
}

.project-container-6 {
  grid-row: 6 / 8;
  grid-column: 2 / 3;
}

.announcement-container {
  grid-row: 2 / 4;
  grid-column: 3 / 4;
}

.announcement-div {
  background-color: #FFFFFF;
  border-left: 10px solid #FACC15;
  border-radius: 10px;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #FACC15;
}

.announcement-div:hover {
  background-color: var(--color-yellow);
}

.announcement-div>h6 {
  margin-bottom: 0;
  margin-top: 1em;
  font-size: 13px;
}

.announcement-div>p {
  font-size: 11px;
  margin-top: 0;
}

.trending-container {
  grid-row: 6 / 8;
  grid-column: 3 / 4;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.trending-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.trending-div>img {
  border-radius: 30%;
}

.trending-text {
  display: flex;
  flex-direction: column;
}

.trending-text>p {
  margin: 0;
  font-weight: 700;
}

.sub-heading {
  font-weight: 400 !important;
}
.cont {
  border-left: 10px solid #FACC15;
  border-radius: 10px;
  background-color: #1992D4;
  padding: 0 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cont:hover {
  border-left: 10px solid #1992D4;
  border-radius: 10px;
  background-color: #FACC15;
  color: black;
}

.cont>h4 {
  margin-bottom: 0;
}
.cont>p {
  margin-top: 0;
}
